body 
{
    margin: 0;
    padding: 0;
    background: #F9F9F7 ; 
    font-family: 'Aldrich', sans-serif;
    font-weight: bold;
}

.loader
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
}

.loader span
{
    position: absolute;
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    top: 0;
    left: 0;
    width: 100%;
    font-size: 36px;
    text-transform: uppercase;
    color: 	#0006b1 ;
    
}

.loader span:nth-child(1)
{
    clip-path: polygon(0 0, 100% 0, 100% 52%, 0 53%);
    animation: animate 4s linear infinite; 
}

.loader span:nth-child(2)
{
    clip-path: polygon(0 48%, 100% 47%, 100% 100%, 0 100%);
    animation: animate 4s reverse infinite; 

}
@keyframes animate
{ 
    0%
    { 
        transform: translateX(100%);
    }
    40%
    { 
        transform: translateX(0);
    }
    60%
    { 
        transform: translateX(0);
    }
    100%
    { 
        transform: translateX(-100%);
    }
}

button#nextPageBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: 	#0006b1;
    color: #000000;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.author {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 15px; /* Adjust padding as needed */
}

.author h {
    margin: 0; /* Remove default margin for the h element */
    font-size: 16px; /* Set your preferred font size */
    color: 	#0006b1; /* Set your preferred text color */
    font-family: 'Chakra Petch', sans-serif; /* Correct the font name */

}

.question {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px; /* Adjust padding as needed */
}

.question h {
    margin: 0; /* Remove default margin for the h element */
    font-size: 16px; /* Set your preferred font size */
    color:	#0006b1  ; /* Set your preferred text color */
    font-family: 'Chakra Petch', sans-serif; /* Correct the font name */


}