body {
  background-color: #000;
  overflow-x: hidden;
}

body * {
  z-index: 20;
  color: #000;
  font-family: 'Chakra Petch', sans-serif;
  size: 18px;
}

#light {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  z-index: 10;
  -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);

}



.text-container {
  position: fixed;
  top: 50%;
  right: 20%; 
  transform: translateY(-50%);
  width: 30%;
}

#fs {
  position: relative;
  color: #000;
  margin: 20px;
  cursor: pointer;
}

p {
  position: relative;
}

p a {
  text-decoration: none; 
  color: inherit; 
}