body {
    height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 8vw; /* Adjust font size as needed */
    text-transform: uppercase;
    overflow: hidden;
}

.disappear {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    height: fit-content;
    bottom: 0;
    top: 0;
}

.disappear span {
    display: inline-block;
    color: transparent;
    text-shadow: 0px 0px 0px black;
    animation: disappearAnimation 4s infinite; /* Apply one keyframe animation to all spans */
}

@keyframes disappearAnimation {
    50% {
        transform: skew(50deg) translateY(-200%);
        text-shadow: 0px 0px 50px;
        opacity: 0;
    }
}

  @keyframes disappearleft {
    50% {
      transform: skew(50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
      opacity: 0;
    }
  }
  
  @keyframes disappearight {
    50% {
      transform: skew(-50deg) translateY(-200%);
      text-shadow: 0px 0px 50px;
      opacity: 0;
    }
  }
  
  /* Apply animation names to each span */
  .disappear span:nth-child(1) {
    animation-name: disappearleft;
    animation-delay: 0s; /* No delay for the first span */
  }
  .disappear span:nth-child(2) {
    animation-name: disappearleft;
    animation-delay: 0.2s; /* Adjust the delay */
  }
  .disappear span:nth-child(3) {
    animation-name: disappearight;
    animation-delay: 0.4s; /* Adjust the delay */
  }
  .disappear span:nth-child(4) {
    animation-name: disappearleft;
    animation-delay: 0.6s; /* Adjust the delay */
  }
  .disappear span:nth-child(5) {
    animation-name: disappearight;
    animation-delay: 0.8s; /* Adjust the delay */
  }
  .disappear span:nth-child(6) {
    animation-name: disappearight;
    animation-delay: 1s; /* Adjust the delay */
  }
  .disappear span:nth-child(7) {
    animation-name: disappearleft;
    animation-delay: 1.2s; /* Adjust the delay */
  }
  .disappear span:nth-child(8) {
    animation-name: disappearight;
    animation-delay: 1.4s; /* Adjust the delay */
  }
  .disappear span:nth-child(9) {
    animation-name: disappearight;
    animation-delay: 1.6s; /* Adjust the delay */
  }
