#typewriter-container {
    overflow: hidden;
    border-right: 2px solid #0006B1; 
    padding: 10px;
    margin: 200px auto;
    font-family: 'Chakra Petch', sans-serif; 
    word-wrap: break-word;
    max-width: 800px; 

    
  }
  
  #typewriter-text {
    display: inline-block;
    font-size: 18px;
    color: black; 
  }

  .highlight {
    color: #0006B1;    
    cursor: pointer;
    cursor: pointer;
    font-weight: 700;
}

body{
  background-color: #F9F9F7;
  ;
}