#typewriter-container {
    overflow: hidden;
    border-right: 2px solid #000; /* Add a blinking cursor effect */
    padding: 10px;
    margin: 200px auto;
    font-family: 'Chakra Petch', sans-serif; /* Correct the font name */
    word-wrap: break-word;
    max-width: 800px; /* Set the desired maximum width for the text */

    
  }
  
  #typewriter-text {
    display: inline-block;
    font-size: 18px;
    color: #333; /* Set your preferred text color */
  }

  .highlight {
    color: red; /* Set your preferred color */
    cursor: pointer;
    text-decoration: underline; /* Add underline effect to indicate it's clickable */
}