body {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif; /* Correct the font name */
}

section {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);
    display: grid;
    place-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    margin: 0;
    font-size: 2rem;
}

.section1 {
    background-color: #EBEBEB; /* Your desired background color for section 1 */
}

.section2 {
    background-color: #EBEBEB; /* Your desired background color for section 2 */
}

.section3 {
    background-color: #EBEBEB; /* Your desired background color for section 3 */
}

/* Add more sections as needed with different background colors */

.circle {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 20px; /* Adjust the top margin as needed */
}

.section4 {
    height: 100vh;
    background-color: #000000 !important;
    color: #EBEBEB;
    display: flex;
    flex-direction: column; /* Set the flex-direction to column */
    justify-content: center;
    align-items: center;
}