body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);
    display: grid;
    place-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    margin: 0;
    font-size: 2rem;
}

.section1 {
    background-color: #EBEBEB; /* Your desired background color for section 1 */
}

.section2 {
    background-color: #EBEBEB; /* Your desired background color for section 2 */
}

.section3 {
    background-color: #EBEBEB; /* Your desired background color for section 3 */
}

/* Add more sections as needed with different background colors */

.section4 {
    height: 100vh;
    background-color: #000000 !important; /* Your desired background color for the last section */
    color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 20px;
}