article {
    max-width: auto;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    min-height: 10em;
    text-align: center; /* Center-align text */
  }
  
  .example-left {
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
  }
  
  .example-left {
    -webkit-animation: mymove 8s linear infinite; /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: mymove 8s linear infinite alternate;
  }
  @keyframes mymove {
    0% {
        font-size: 1rem;
    }
    25% {
        font-size: 1.5rem;
    }
    50% {
        font-size: 2rem;
    }
    75% {
        font-size: 2.5rem;
    }
    100% {
        font-size: 3rem;
    }
}

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  
  @keyframes mymove {
    from {
      left: 0;
    }
    to {
      left: -140px;
    }
  }
  
  
  .example-right {
    white-space: nowrap;
    position: absolute;
    top:2em;
    opacity: .4;
    text-transform: uppercase;
  }
  
  .example-right {
    -webkit-animation: urmove 8s linear infinite; /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: urmove 8s linear infinite alternate;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes urmove {
    from {
      right: 0;
    }
    to {
      right: -140px;
    }
  }
  
  @keyframes urmove {
    from {
      right: 0;
    }
    to {
      right: -140px;
    }
  }
  
  
  @keyframes early 
  { from { opacity:1; } to { opacity:0; } }
  
  