body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

.animation-container span {
    position: absolute;
    color: whitesmoke;
    display: block;
    font-size: 24px; /* Adjust the default font size as needed */
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 0 0 1px white;
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 1;
    opacity: 0;
    top: 0;
    will-change: transform, opacity;
    animation-timing-function: ease-out;
    animation-name: move;
}

@keyframes move {
    0% {
        opacity: 0;
        top: 100%;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: none;
    }
}

.pulsing-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: pulse 2s infinite, moveAround 10s infinite linear; /* Combine pulse and moveAround animations */
    cursor: pointer;
    z-index: 2;
    top: 50px; /* Place at the bottom */
    left: 50px; /* Place at the left */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

